<app-header></app-header>

<div class="container">
    <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
        <div class="form-Group">
            <label for="">NOMBRE</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente " formControlName="NOMBRE">

        </div>
        <div class="form-Group">
            <label for="">CODIGO</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente " formControlName="CODIGO">

        </div>
        <div class="form-Group row">
            <div class="col">
                <label for="">MARCA</label>
                <input type="text" class="form-control" placeholder="Nombre del Paciente " formControlName="MARCA">
            </div>
            <div class="col">
                <label for="">PESO</label>
                <input type="text" class="form-control" placeholder="Nombre del Paciente " formControlName="PESO">
            </div>
            
        </div>
        <br>
        <br>
        <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="eliminar()">Eliminar</button>
        </div>
    </form>

</div>


<app-footer></app-footer>